* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#tray {
    border: 2px solid green;
    max-width: 500px;
    min-width: 300px;
    padding: 20px;
    flex: 1 1 auto;
}

#board {
    border: 2px solid blue;
    width: 500px;
    height: 500px;
    max-height: 100vw;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    flex: 0 1 auto;
}

.square {
    border: 1px solid red;
    flex: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.square:hover {
    background-color: grey;
}

.ship {
    border: 1px solid purple;
    margin: 10px 0;
    height: 44px;
    display: flex;
    align-items: center;
    padding: 0 0 0 10px;
}

#carrier {
    width: 244px;
}

#battleship {
    width: 194px;
}

#cruiser {
    width: 144px;
}

#submarine {
    width: 144px;
}

#destroyer {
    width: 94px;
}