* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
    user-select: none;
    font-family: sans-serif;
    font-size: 14px;
    text-align: center;
}

main p {
    margin: 10px;
    font-size: 20px;
}

#table {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#tray {
    border: 2px solid green;
    max-width: 500px;
    min-width: 275px;
    flex: 1;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
}

#board {
    border: 2px solid blue;
    width: 500px;
    height: 500px;
    max-height: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 auto;
}

.square {
    border: 1px solid red;
    flex: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.square:hover {
    background-color: grey;
}

.ship {
    border: 1px solid purple;
    background-color: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.held {
    display: none;
}

.overlap {
    background-color: grey;
}