* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

main {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#tray {
    border: 2px solid green;
    max-width: 500px;
    min-width: 300px;
    flex: 1 1 auto;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
}

#board {
    border: 2px solid blue;
    width: 500px;
    height: 500px;
    max-height: 100vw;
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 auto;
}

.square {
    border: 1px solid red;
    flex: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.square:hover {
    background-color: grey;
}

.ship {
    border: 1px solid purple;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8vw;
    max-height: 40px;
    margin: 10px;
}

.ship:hover {
    background-color: grey;
}

#carrier {
    max-width: 244px;
    width: 48vw;
}

#battleship {
    max-width: 194px;
    width: 38vw;
}

#cruiser {
    max-width: 144px;
    width: 28vw;
}

#submarine {
    max-width: 144px;
    width: 28vw;
}

#destroyer {
    max-width: 94px;
    width: 18vw;
}